<mat-card>

  <h2>🐾 Registrar Mascota</h2>

  <mat-form-field appearance="outline">
    <mat-label>Nombre</mat-label>
    <input matInput [(ngModel)]="nombre">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Especie</mat-label>
    <input matInput [(ngModel)]="especie">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Raza</mat-label>
    <input matInput [(ngModel)]="raza">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Edad</mat-label>
    <input matInput type="number" [(ngModel)]="edad">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Dueño</mat-label>
    <input matInput [(ngModel)]="duenio">
  </mat-form-field>
<div class="upload-box">

  <label>📸 Subir imagen</label>

  <input
    type="file"
    accept="image/*"
    (change)="seleccionarImagen($event)"
  >

</div>

<div
  class="preview"
  *ngIf="imagen"
>
  <img
    [src]="imagen"
    alt="preview"
  >
</div>
  
  <button mat-raised-button color="primary" (click)="agregar()">
    Guardar Mascota
  </button>
  
  
</mat-card>
