<mat-card>
  <h2>🐾 Mascotas Registradas</h2>

  <div class="dashboard">
    <div class="dashboard-card mascotas">
      <h3>
        {{ personaService.mascotas().length }}
      </h3>

      <p>Mascotas</p>
    </div>

    <div class="dashboard-card dashboard-vacunas">
      <h3>
        {{
          personaService
            .mascotas()

            .reduce(
              (total, m) => total + m.vacunas.length,

              0
            )
        }}
      </h3>

      <p>Vacunas</p>
    </div>

    <div class="dashboard-card consultas">
      <h3>
        {{
          personaService
            .mascotas()

            .reduce(
              (total, m) => total + m.consultas.length,

              0
            )
        }}
      </h3>

      <p>Consultas</p>
    </div>

    <div class="dashboard-card alertas">
      <h3>
        {{
          personaService
            .mascotas()

            .filter((m) => m.vacunas.length === 0).length
        }}
      </h3>

      <p>Sin vacunas</p>
    </div>
  </div>

  <mat-form-field appearance="outline">
    <mat-label>Buscar mascota</mat-label>

    <input matInput [(ngModel)]="filtro" />
  </mat-form-field>

  <div class="cards-mascotas">
    <mat-card
      class="pet-card"
      *ngFor="
        let m of personaService
          .mascotas()
          .filter((m) => m.nombre.toLowerCase().includes(filtro.toLowerCase()))
      "
    >
      <img class="pet-image" [src]="m.imagen" alt="mascota" />

      <div *ngIf="mascotaEditandoId === m.id; else vistaNormal">
        <mat-form-field appearance="outline">
          <mat-label>Nombre</mat-label>

          <input matInput [(ngModel)]="m.nombre" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Especie</mat-label>

          <input matInput [(ngModel)]="m.especie" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Raza</mat-label>

          <input matInput [(ngModel)]="m.raza" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Edad</mat-label>

          <input matInput type="number" [(ngModel)]="m.edad" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Dueño</mat-label>

          <input matInput [(ngModel)]="m.duenio" />
        </mat-form-field>

        <button mat-raised-button color="primary" (click)="guardar(m)">Guardar</button>
      </div>

      <!-- VISTA NORMAL -->

      <ng-template #vistaNormal>
        <h3>🐶 {{ m.nombre }}</h3>

        <p>
          <strong>Especie:</strong>
          {{ m.especie }}
        </p>

        <p>
          <strong>Raza:</strong>
          {{ m.raza }}
        </p>

        <p>
          <strong>Edad:</strong>
          {{ m.edad }} años
        </p>

        <p>
          <strong>Dueño:</strong>
          {{ m.duenio }}
        </p>

        <div class="proxima-vacuna">
          <span> ⏰ Próxima vacuna: </span>

          <strong>
            {{ m.vacunas.length > 0 ? 'En 30 días' : 'Pendiente' }}
          </strong>
        </div>

        <!-- BOTONES -->

        <div class="botones-panel">
          <button mat-raised-button color="accent" (click)="toggleHistorial(m.id)">
            🩺 Historial Médico
          </button>

          <button mat-raised-button color="primary" (click)="toggleConsultas(m.id)">
            📋 Consultas
          </button>
        </div>

        <!-- HISTORIAL -->

        <div class="medical-section" *ngIf="historialAbiertoId === m.id">
          <h3 class="medical-title">💉 Vacunas</h3>

          <div *ngIf="m.vacunas && m.vacunas.length > 0; else sinVacunas">
            <div class="vacuna-item" *ngFor="let v of m.vacunas; let i = index">
              <div class="vacuna-info">
                <p>💉 {{ v.nombre }}</p>

                <span> 📅 {{ v.fecha }} </span>

                <span class="proxima-vacuna">
                  🔔 Próxima dosis:
                  {{ v.proximaDosis }}
                </span>
              </div>

              <button mat-mini-button color="warn" (click)="confirmarEliminarVacuna(m.id, i)">
                ✖
              </button>
            </div>
          </div>

          <ng-template #sinVacunas>
            <p>No tiene vacunas registradas</p>
          </ng-template>

          <div class="vacuna-form">
            <input #nombreVacuna placeholder="Vacuna" />

            <input #fechaVacuna type="date" />

            <button
              mat-raised-button
              color="accent"
              (click)="agregarVacuna(m.id, nombreVacuna.value, fechaVacuna.value)"
            >
              Agregar vacuna
            </button>
          </div>
        </div>

        <!-- CONSULTAS -->

        <div class="medical-section" *ngIf="consultasAbiertasId === m.id">
          <h3 class="medical-title">🩺 Consultas Médicas</h3>

          <div *ngIf="m.consultas && m.consultas.length > 0; else sinConsultas">
            <div class="consulta-item" *ngFor="let c of m.consultas; let i = index">
              <div class="consulta-info">
                <p>🩺 {{ c.motivo }}</p>

                <span> 📋 {{ c.diagnostico }} </span>

                <span> ⚖ {{ c.peso }} kg </span>

                <span> 📅 {{ c.fecha }} </span>
              </div>

              <button mat-mini-button color="warn" (click)="eliminarConsulta(m.id, i)">✖</button>
            </div>
          </div>

          <ng-template #sinConsultas>
            <p>No hay consultas registradas</p>
          </ng-template>

          <div class="consulta-form">
            <input #motivoConsulta placeholder="Motivo" />

            <input #diagnosticoConsulta placeholder="Diagnóstico" />

            <input #pesoConsulta type="number" placeholder="Peso" />

            <input #fechaConsulta type="date" />

            <button
              mat-raised-button
              color="primary"
              (click)="
                agregarConsulta(
                  m.id,
                  motivoConsulta.value,
                  diagnosticoConsulta.value,
                  pesoConsulta.value,
                  fechaConsulta.value
                )
              "
            >
              Agregar consulta
            </button>
          </div>
        </div>
      </ng-template>

      <div class="acciones">
        <button mat-raised-button color="primary" (click)="editar(m)">Editar</button>

        <button mat-raised-button color="warn" (click)="eliminar(m.id)">Eliminar</button>
      </div>
    </mat-card>
  </div>
</mat-card>
