<mat-card>

  <h2>🐾 Mascotas Registradas</h2>

  <mat-form-field appearance="outline">

    <mat-label>Buscar mascota</mat-label>

    <input
      matInput
      [(ngModel)]="filtro"
    >

  </mat-form-field>

  <div class="cards-mascotas">

    <mat-card
      class="pet-card"

      *ngFor="let m of personaService.mascotas().filter(m =>
        m.nombre.toLowerCase().includes(filtro.toLowerCase())
      )"
    >

    <img
  class="pet-image"
  [src]="m.imagen"
  alt="mascota"
/>

    <div *ngIf="mascotaEditandoId === m.id; else vistaNormal">

  <mat-form-field appearance="outline">
    <mat-label>Nombre</mat-label>
    <input matInput [(ngModel)]="m.nombre">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Especie</mat-label>
    <input matInput [(ngModel)]="m.especie">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Raza</mat-label>
    <input matInput [(ngModel)]="m.raza">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Edad</mat-label>
    <input matInput type="number" [(ngModel)]="m.edad">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Dueño</mat-label>
    <input matInput [(ngModel)]="m.duenio">
  </mat-form-field>

  <button
    mat-raised-button
    color="primary"
    (click)="guardar(m)"
  >
    Guardar
  </button>

</div>

<ng-template #vistaNormal>

  <h3>🐶 {{ m.nombre }}</h3>

  <p><strong>Especie:</strong> {{ m.especie }}</p>

  <p><strong>Raza:</strong> {{ m.raza }}</p>

  <p><strong>Edad:</strong> {{ m.edad }} años</p>

  <p><strong>Dueño:</strong> {{ m.duenio }}</p>

  <div class="vacunas">

  <h4>💉 Vacunas</h4>

<div *ngIf="m.vacunas && m.vacunas.length > 0; else sinVacunas">

    <p *ngFor="let v of m.vacunas">

      {{ v.nombre }} - {{ v.fecha }}

    </p>

  </div>

  <ng-template #sinVacunas>

    <p>No tiene vacunas registradas</p>

  </ng-template>

</div>

</ng-template>

<div class="vacuna-form">

  <input
    #nombreVacuna
    placeholder="Vacuna"
  >

  <input
    #fechaVacuna
    type="date"
  >

  <button

    mat-raised-button
    color="accent"

    (click)="agregarVacuna(
      m.id,
      nombreVacuna.value,
      fechaVacuna.value
    )"

  >

    Agregar vacuna

  </button>

</div>

   <div class="acciones">

  <button
    mat-raised-button
    color="primary"
    (click)="editar(m)"
  >
    Editar
  </button>

  <button
    mat-raised-button
    color="warn"
    (click)="eliminar(m.id)"
  >
    Eliminar
  </button>

</div>

    </mat-card>

  </div>

</mat-card>