@import '@angular/material/prebuilt-themes/azure-blue.css';

body {
  margin: 0;

  font-family: 'Inter', sans-serif;

  min-height: 100vh;

  overflow-x: hidden;

  background:
    radial-gradient(circle at top left, #312e81 0%, transparent 30%),
    radial-gradient(circle at top right, #0f172a 0%, transparent 25%),
    linear-gradient(135deg, #0f172a, #111827);

  color: white;
}
/* contenedor */
.container {
  max-width: 1000px;
  margin: 40px auto;
  padding: 20px;
}

/* navbar */
mat-toolbar {
  background: rgba(255, 255, 255, 0.65) !important;
  backdrop-filter: blur(12px);

  color: #1e293b;

  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.toolbar {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  font-weight: bold;
  font-size: 18px;
}

.spacer {
  flex: 1 1 auto;
}

a.active {
  border-bottom: 2px solid #333;
}

/* cards */
mat-card {
  border-radius: 28px !important;

  padding: 25px;

  background: rgba(255, 255, 255, 0.06) !important;

  backdrop-filter: blur(18px);

  border: 1px solid rgba(255, 255, 255, 0.08);

  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.35);

  transition: 0.3s ease;
}

mat-card:hover {
  transform: translateY(-6px);

  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.45);
}

/* botones */
button {
  border-radius: 12px !important;
}

/* tabla */
.tabla {
  width: 100%;
  margin-top: 20px;
  border-radius: 12px;
  overflow: hidden;
  background: white;
}

.tabla th {
  background: #d0ebff;
  color: #333;
}

.tabla td,
.tabla th {
  padding: 12px;
}

/* home */
.home {
  min-height: 100vh;
  padding: 40px;

  display: flex;
  flex-direction: column;
  gap: 30px;

  background:
    linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
    url('https://images.unsplash.com/photo-1522202176988-66273c2fd55f');

  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  color: white;
}
.hero {
  text-align: center;
  background: transparent !important;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.cards mat-card {
  text-align: center;
  background: #f1f3f5;
}
