<div class="medical-card">
  <h2 class="medical-home-title">💉 Historial Médico</h2>

  <div class="medical-home-item" *ngFor="let mascota of mascotas?.slice(0, 2)">
    <h3>🐶 {{ mascota.nombre }}</h3>

    <p *ngIf="mascota.vacunas.length > 0">
      ✔ Última vacuna:

      {{ mascota.vacunas[mascota.vacunas.length - 1].nombre }}
    </p>

    <p *ngIf="mascota.consultas.length > 0">
      🩺 Última consulta:

      {{ mascota.consultas[mascota.consultas.length - 1].motivo }}
    </p>
  </div>
</div>
